<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="launch_prefix" default=""/>
  <arg name="config_file" default="$(find catkin_simple_example)/config/config.yaml"/>

  <node pkg="catkin_simple_example" type="catkin_simple_example_ros_node" name="catkin_simple_example_ros_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(arg config_file)" />
  </node>
</launch>